* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cursor__pointer {
	cursor: pointer;
}

.darkTheme.chatContainer {
	background-color: rgba(10, 10, 10, 0.933);
}

.darkTheme.channelName {
	color: white;
}

.darkTheme.loginContainer {
	background-color: rgba(10, 10, 10, 0.933);
	color: white;
}

.darkTheme.loginContainer a {
	color: purple;
}
