* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cursor__pointer {
	cursor: pointer;
}

.darkLoginContainer {
	background-color: rgba(10, 10, 10, 0.933);
	color: white;
}

.darkLoginContainer a {
	color: purple;
}
